{% extends 'core/base.html' %}

{% block content %}
<h2>About Murah Sparks</h2>
<p>Murah Sparks' Salon is a premium unisex salon offering modern beauty services with a touch of elegance. Founded with the vision to redefine beauty in Uganda, we bring you expert care and style.</p>

<h3>Our Mission</h3>
<p>To boost confidence and beauty through professional hair, nail, and makeup services.</p>

<h3>Our Vision</h3>
<p>To be Uganda’s top choice for unisex beauty care, known for creativity, hygiene, and customer satisfaction.</p>
{% endblock %}
